langchain
langchain-community
langchain-core
langchain-ollama
langchain-groq
langchain-google-genai
langgraph
openai
transformers
sentence-transformers
fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
pyodbc
mysql-connector-python
snowflake-connector-python
tqdm
python-dotenv
loguru
requests
pytest
sqlparse
streamlit
google-generativeai
ollama